.wrapper {
  .inputPad_wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    .input_pad {
      position: fixed;
      left: 0;
      bottom: 0;
      // width: 100%;
    }
  }
}
